body
{
    list-style-type: none;
}
.Sign-up h1{
    font-size: 25px;
    margin-left: 100px;

}
.Sign-up li
{
    margin: 25px;
    padding: 3px;
    list-style: none;
    font-size: 20px;
}
.Sign-up input
{
    width: 100%;
    padding: 20px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid#ccc;
    border-radius: 4px;
    box-sizing: border-box;

}
.Sign-up form{
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid#ccc;
    border-radius: 5px;
}
.Sign-up label{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}
.Sign-up button:hover
{
    background: rgb(211, 211, 211);
    color: rgb(0, 0, 0);
}
.Sign-up button
{
padding: 12px 20px;
border-radius: 4px;
cursor: pointer;
border: 1px solid rgba(0, 0, 0, 0.116);
background: white;
color: rgb(0, 0, 0);
}
.Sign-up .buttons {
    display: flex;
    justify-content: space-between;
}